<h1>Voting Results</h1>

{% for d in results %}
<h3>{{ d.title }}</h3>
{% if d.description %}
<h4>{{ d.description }}</h4>
{% endif %}
<p>
<ul>
{% for choice in d.choices %}
<li>{{ choice.choice }}: {{choice.count}} votes ({{ choice.percentage}}%)</li>
{% endfor %}
</ul>
<b>Total votes cast: {{ d.total_votes }}</b>
<hr>
{% endfor %}
