<h1>Vote for</h1>
<h1>{{ question.title_text }}</h1>

{% if question.description_text %}
<b>{{ question.description_text }}</b>
{% endif %}

{% if error_message %}<p><strong style="color: red;">{{ error_message }}</strong></p>{% endif %}

<p>
<form action="{% url 'voting:vote' %}" method="post">
{% csrf_token %}
   <label for="identifier">Registration Number: </label>
   <input type="text" name="identifier"><br><p>
{% for choice in question.choices.all %}
   <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
   <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<p>
<input type="submit" value="Record vote">
</form>


